html, body {
	width: 100%;
  height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    margin: 0;
}

#particles-js {
    /*width: 100%;
    height: 100%;*/
		display: block;
		position: fixed;
    background-image: url("");
    background-repeat: repeat-y;
    background-size: cover;
		background-attachment: fixed;

    z-index: -1;
}


.some-space {
	position: absolute;
  text-align: center;
  font-weight: 300;
  color: #000000;
  top: 50px;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: -999;
}


.some-space > h1 {
	font-size: 4.5em;
    font-weight: 300;
	letter-spacing: .2em;
}

.some-space > p {
	font-size: 1em;
    padding: 5px;
	opacity: .7;
    letter-spacing: .1em;
}

.home-photo {
	width: 175px;
	height: 175px;
  margin: 30px auto;
	position: absolute;
  text-align: center;
  font-weight: 300;
  color: #000000;
  top: 280px;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 1;
}

.socmed {
    opacity: .7;
		position: absolute;
	  text-align: center;
	  font-weight: 300;
	  color: #000000;
		margin-bottom: 30px;
	  top: 600px;
	  left: 0;
	  right: 0;
	  z-index: 1;
}

.socmed a {
    padding: 10px;
    text-decoration: none;
    color: #000;
    z-index: 99;
		transition: background-color 0.5s ease;
}

.socmed a:hover {
    color: #EB5E28;
}

.content {
	position: absolute;
	text-align: center;
	color: #000000;
	margin-bottom: 30px;
	top: 520px;
	left: 0;
	right: 0;
	z-index: 1;
}

a, a:hover, a:active, a:visited {
	text-decoration:none;
	color: #000000;
}

.content a {
	color: #000000;
	padding: 10px 20px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.5s ease;
	background-color: transparent;
	border: 2px solid #000000;
	border-radius: 25px;
}

.content a:hover {
	background-color: #EB5E28;
	border: 2px solid #EB5E28;
}

@media screen and (max-width: 768px) {
		#particles-js {
			position: absolute;
		}

		.some-space {
        top: 50px;
    }

    .some-space > h1 {
        font-size: 4em;
        letter-spacing: .1em;
    }
}

@media screen and (max-width: 480px) {
    .some-space {
        top: 0px;
    }


		.home-photo {
			top: 300px;
		}
}
