html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Roboto', Helvetica;
    font-size: 18px;
    
    background-color: #72716f;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

img {
    width: 30%;
    height: 30%;
}
